/* border-box */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Info window */
.info-headline {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.info-location-name {
    font-weight: bold;
}

.info-events {
    padding-top: 1em;
}

.info-event-source {
    padding-left: 2px;
}

.info-no-events {
    padding-top: 1em;
}

.info-photo-container {
    float: right;
}

/* Time period controls */
#time-period-controls {
    font-size: 1.25em;
    margin: 10px;
    background: white;
    border: 1px solid lightgray;
    padding: 0.25em;
}

/* Footer */
#footer {
    border: 1px solid lightgray;
    background: white;
    padding: 0.25em;
    font-size: 1.25em;
    margin: 15px;
}

.footer-logo-container {
    color: #1DA1F2;
}

.inline-icon-link {
    text-decoration: none;
}

.inline-icon {
    vertical-align: middle;
}

.icon-twitter {
    color: #1DA1F2;
}
