@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b0utxx');
  src:  url('fonts/icomoon.eot?b0utxx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b0utxx') format('truetype'),
    url('fonts/icomoon.woff?b0utxx') format('woff'),
    url('fonts/icomoon.svg?b0utxx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-external-link:before {
  content: "\f08e";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-github:before {
  content: "\f09b";
}
